# =========================
# Number Theory
# =========================

snippet prime_table "Prime table with phi and mu" b
class PrimeTable:

    def __init__(self, n: int) -> None:
        self.n = n
        self.primes = []
        self.max_div = list(range(n + 1))
        self.max_div[1] = 1
        self.phi = [0] * (n + 1)
        self.mu = [0] * (n + 1)
        lp = [0] * (n + 1)
        self.phi[1] = 1
        self.mu[1] = 1

        for i in range(2, n + 1):
            if lp[i] == 0:
                lp[i] = i
                self.primes.append(i)
                self.phi[i] = i - 1
                self.mu[i] = -1
            for p in self.primes:
                x = i * p
                if x > n:
                    break
                lp[x] = p
                self.max_div[x] = p
                if i % p == 0:
                    self.phi[x] = self.phi[i] * p
                    self.mu[x] = 0
                    break
                self.phi[x] = self.phi[i] * (p - 1)
                self.mu[x] = -self.mu[i]

    def is_prime(self, x: int):
        if x < 2:
            return False
        if x <= self.n:
            return self.max_div[x] == x
        for p in self.primes:
            if p * p > x:
                break
            if x % p == 0:
                return False
        return True

    def prime_factorization(self, x: int):
        if x > self.n:
            for p in self.primes:
                if p * p > x:
                    break
                if x <= self.n:
                    break
                if x % p == 0:
                    cnt = 0
                    while x % p == 0:
                        cnt += 1
                        x //= p
                    yield p, cnt
        while 1 < x <= self.n:
            p, cnt = self.max_div[x], 0
            while x % p == 0:
                cnt += 1
                x //= p
            yield p, cnt
        if x > 1:
            yield x, 1

    def get_factors(self, x: int):
        factors = [1]
        for p, b in self.prime_factorization(x):
            m = len(factors)
            for j in range(1, b + 1):
                for d in factors[:m]:
                    factors.append(d * (p ** j))
        return factors
endsnippet

snippet factorial_mod "Factorial mod" b
class Factorial:
    def __init__(self, N, mod) -> None:
        N += 1
        self.mod = mod
        self.f = [1 for _ in range(N)]
        self.g = [1 for _ in range(N)]
        for i in range(1, N):
            self.f[i] = self.f[i - 1] * i % self.mod
        self.g[-1] = pow(self.f[-1], mod - 2, mod)
        for i in range(N - 2, -1, -1):
            self.g[i] = self.g[i + 1] * (i + 1) % self.mod

    def fac(self, n):
        return self.f[n]

    def fac_inv(self, n):
        return self.g[n]

    def comb(self, n, m):
        if n < m or m < 0 or n < 0:
            return 0
        return self.f[n] * self.g[m] % self.mod * self.g[n - m] % self.mod

    def perm(self, n, m):
        if n < m or m < 0:
            return 0
        return self.f[n] * self.g[n - m] % self.mod

    def catalan(self, n):
        return (self.comb(2 * n, n) - self.comb(2 * n, n - 1)) % self.mod

    def inv(self, n):
        return self.f[n - 1] * self.g[n] % self.mod
endsnippet

snippet mat_mult "matrix multiplication" b
def mat_mult(A, B, MOD):
    assert len(A[0]) == len(B)
    ans = [[0] * len(B[0]) for _ in range(len(A))]

    for i in range(len(A)):
        for j in range(len(B)):
            if A[i][j] == 0:
                continue
            for k in range(len(B[0])):
                ans[i][k] += A[i][j] * B[j][k]
                ans[i][k] %= MOD
    return ans
endsnippet

snippet mat_pow "matrix binary exponentiation" b
def mat_pow(K, p, MOD):
    assert len(K) == len(K[0])
    n = len(K)

    ans = [[1 if i == j else 0 for i in range(n)] for j in range(n)]
    while p:
        if p & 1:
            ans = mat_mult(ans, K, MOD)
        K = mat_mult(K, K, MOD)
        p >>= 1
    return ans
endsnippet

# =========================
# Array
# =========================

snippet max_subarray_sum "Kadane" b
def max_subarray_sum(arr):
    max_ending_here = max_so_far = arr[0]
    for x in arr[1:]:
        max_ending_here = max(x, max_ending_here + x)
        max_so_far = max(max_so_far, max_ending_here)
    return max_so_far
endsnippet

snippet merge_sort "Merge sort with inversion count" b
def merge_sort(a):
    if len(a) <= 1:
        return a, 0
    mid = len(a) // 2
    left, l_cnt = merge_sort(a[:mid])
    right, r_cnt = merge_sort(a[mid:])
    merged, i, j, cnt = [], 0, 0, l_cnt + r_cnt
    while i < len(left) and j < len(right):
        if left[i] <= right[j]:
            merged.append(left[i])
            i += 1
        else:
            merged.append(right[j])
            cnt += len(left) - i
            j += 1
    return merged + left[i:] + right[j:], cnt
endsnippet

# =========================
# Query / Data Structures
# =========================

snippet union_find "DSU" b
class UnionFind:
    def __init__(self, n, size=None):
        self.parent = list(range(n))
        self.size = [1] * n if size is None else size

    def find(self, a):
        _a = a
        while a != self.parent[a]:
            a = self.parent[a]
        while _a != self.parent[_a]:
            self.parent[_a], _a = a, self.parent[_a]
        return a

    def union(self, a, b):
        pa, pb = self.find(a), self.find(b)
        if pa == pb:
            return False
        if self.size[pa] < self.size[pb]:
            pa, pb = pb, pa
        self.parent[pb] = pa
        self.size[pa] += self.size[pb]
        return True

    def get_size(self, a):
        return self.size[self.find(a)]
endsnippet

snippet fenwick_tree "Fenwick Tree + kth" b
class FenwickTree:
    def __init__(self, n):
        self.n = n
        self.tree = [0]*(n+2)
        self.max_pow2 = 1 << (self.n.bit_length() - 1) if self.n > 0 else 0

    def update(self, idx, val):
        while idx <= self.n:
            self.tree[idx] += val
            idx += idx & -idx

    def range_update(self, l, r, val):
        self.update(l, val)
        self.update(r+1, -val)

    def query(self, idx):
        res = 0
        while idx > 0:
            res += self.tree[idx]
            idx -= idx & -idx
        return res

    def range_query(self, l, r):
        return self.query(r) - self.query(l-1)

    # 1 based rank, 1 indexed return value
    def find_kth(self, k):
        """
        finds the 1 indexed value of the kth smallest inserted element in O(log N).
        returns None if k > total inserted elements or k <= 0.
        """
        idx = 0
        curr_sum = 0
        mask = self.max_pow2

        while mask > 0:
            next_idx = idx + mask
            if next_idx <= self.n and curr_sum + self.tree[next_idx] < k:
                idx = next_idx
                curr_sum += self.tree[idx]
            mask >>= 1

        ans = idx + 1
        return ans if ans <= self.n and self.query(ans) >= k else None
endsnippet

snippet segment_tree "Segment tree" b
class SegmentTree:
    def __init__(self, A, d=0, f=lambda a, b: a + b):
        self.n, self.d, self.f = len(A), d, f
        self.t = [d] * (2 * self.n)
        self.t[self.n:] = A
        for i in range(self.n - 1, 0, -1):
            self.t[i] = f(self.t[i<<1], self.t[i<<1|1])

    def update(self, p, v):
        p += self.n
        self.t[p] = v
        while p > 1:
            p >>= 1
            self.t[p] = self.f(self.t[p<<1], self.t[p<<1|1])

    def query(self, l, r):
        l += self.n
        r += self.n + 1
        a = b = self.d
        while l < r:
            if l & 1:
                a = self.f(a, self.t[l])
                l += 1
            if r & 1:
                r -= 1
                b = self.f(self.t[r], b)
            l >>= 1
            r >>= 1
        return self.f(a, b)
endsnippet

snippet lazy_st "Iterative Lazy Segment Tree (Range Add, Range Max)" b
class LazyST:
    def __init__(self, A):
        self.n = len(A)
        self.h = self.n.bit_length()
        self.t = [0] * (2 * self.n)
        self.d = [0] * self.n
        self.t[self.n:] = A
        for i in range(self.n - 1, 0, -1):
            self.t[i] = max(self.t[i<<1], self.t[i<<1|1])

    def apply(self, p, v):
        self.t[p] += v
        if p < self.n:
            self.d[p] += v

    def build(self, p):
        while p > 1:
            p >>= 1
            self.t[p] = max(self.t[p<<1], self.t[p<<1|1]) + self.d[p]

    def push(self, p):
        for s in range(self.h, 0, -1):
            i = p >> s
            if self.d[i]:
                self.apply(i<<1, self.d[i])
                self.apply(i<<1|1, self.d[i])
                self.d[i] = 0

    def upd(self, l, r, v):
        l += self.n
        r += self.n
        l0, r0 = l, r - 1
        self.push(l0)
        self.push(r0)
        while l < r:
            if l & 1:
                self.apply(l, v)
                l += 1
            if r & 1:
                r -= 1
                self.apply(r, v)
            l >>= 1
            r >>= 1
        self.build(l0)
        self.build(r0)

    def qry(self, l, r):
        l += self.n
        r += self.n
        self.push(l)
        self.push(r - 1)
        res = float('-inf')
        while l < r:
            if l & 1:
                res = max(res, self.t[l])
                l += 1
            if r & 1:
                r -= 1
                res = max(res, self.t[r])
            l >>= 1
            r >>= 1
        return res
endsnippet

snippet sparse_table "Sparse table (idempotent)" b
def sparse_table(arr, func):
    n = len(arr)
    LOG = n.bit_length()

    res = [[0] * n for _ in range(LOG)]
    res[0] = arr

    for i in range(1, LOG):
        for j in range(n - (1 << i) + 1):
            res[i][j] = func(res[i - 1][j], res[i - 1][j + (1 << (i - 1))])

    def query(l, r):
        k = (r - l + 1).bit_length() - 1
        return func(res[k][l], res[k][r - (1 << k) + 1])

    return query
endsnippet

snippet sparse_table_full "Sparse table (associative)" b
def sparse_table_full(arr, func):
    n = len(arr)
    LOG = n.bit_length()

    res = [[0] * n for _ in range(LOG)]
    res[0] = arr

    for i in range(1, LOG):
        for j in range(n - (1 << i) + 1):
            res[i][j] = func(res[i - 1][j], res[i - 1][j + (1 << (i - 1))])

    def query(l, r):
        ans = None
        m = r - l + 1
        while m > 0:
            k = m.bit_length() - 1
            ans = func(ans, res[k][l]) if ans is not None else res[k][l]
            l += 1 << k
            m -= 1 << k
        return ans

    return query
endsnippet

# =========================
# Graph Algorithms
# =========================

snippet is_bipartite "is bipartite" b
def is_bipartite(adj, n):
    color = [-1] * n
    for i in range(n):
        if color[i] != -1:
            continue
        q = [i]
        color[i] = 0
        for u in q:
            for v in adj[u]:
                if color[v] == -1:
                    color[v] = color[u] ^ 1
                    q.append(v)
                elif color[v] == color[u]:
                    return False
    return True
endsnippet

snippet toposort "toposort" b
def toposort(adj, n):
    ind = [0] * n
    for u in range(n):
        for v in adj[u]:
            ind[v] += 1
    q = [i for i in range(n) if ind[i] == 0]
    res = []
    for u in q:
        res.append(u)
        for v in adj[u]:
            ind[v] -= 1
            if ind[v] == 0:
                q.append(v)
    return res if len(res) == n else []
endsnippet

snippet dijkstra "Dijkstra" b
import heapq
def dijkstra(adj, n, src):
    dist = [float('inf')] * n
    dist[src] = 0
    pq = [(0, src)]
    while pq:
        d, u = heapq.heappop(pq)
        if d > dist[u]:
            continue
        for v, w in adj[u]:
            if dist[u] + w < dist[v]:
                dist[v] = dist[u] + w
                heapq.heappush(pq, (dist[v], v))
    return dist
endsnippet

snippet bfs01 "0-1 BFS" b
from collections import deque
def bfs01(adj, n, src):
    dist = [float('inf')] * n
    dist[src] = 0
    q = deque([src])
    while q:
        u = q.popleft()
        for v, w in adj[u]:
            if dist[u] + w < dist[v]:
                dist[v] = dist[u] + w
                if w == 1:
                    q.append(v)
                else:
                    q.appendleft(v)
    return dist
endsnippet

snippet graph_reference_latex "Graph reference (LaTeX)" b
\section*{Graph Ideas / Theorems}
\begin{itemize}
\item \textbf{Kruskal Reconstruction Tree (KRT):} sort edges by weight, merge DSU components, and build a merge tree; path queries reduce to LCA on KRT.
\item \textbf{Floyd--Warshall:} all-pairs shortest paths in $O(n^3)$; update by $d_{ij} = \min(d_{ij}, d_{ik} + d_{kj})$.
\item \textbf{Cycle detection:} undirected via DSU/DFS parent check, directed via DFS colors or Kahn (remaining nodes imply cycle).
\item \textbf{Functional (Rho) graph:} each node has out-degree $1$; decompose into directed cycles with in-trees attached.
\item \textbf{SCC:} Kosaraju / Tarjan to condense directed graph into a DAG.
\item \textbf{Bridges \/ Articulation points:} Tarjan low-link on DFS tree.
\item \textbf{MST:} Kruskal ($O(m\log m)$) or Prim ($O(m\log n)$ with heap).
\item \textbf{Bellman--Ford:} handles negative edges; detects reachable negative cycles.
\item \textbf{$0$--$1$ BFS:} shortest path with edge weights in $\{0,1\}$ using deque.
\item \textbf{Max flow:} Dinic for blocking-flow based $s$-$t$ max flow.
\item \textbf{Matching:} Hopcroft--Karp for bipartite maximum matching.
\item \textbf{Tree diameter:} two BFS/DFS passes or tree DP.
\end{itemize}
endsnippet

# =========================
# Permutations
# =========================

snippet permutations_invert "invert permutation" b
def invert_permutation(perm):
    ans = [0] * len(perm)
    for i, v in enumerate(perm):
        ans[v] = i
    return ans
endsnippet

snippet permutations_multiply "multiply permutations" b
def multiply_permutation(p1, p2):
    ans = [0] * len(p1)
    for i in range(len(p1)):
        ans[i] = p1[p2[i]]
    return ans
endsnippet

snippet permutation_to_cycles "cycle decomposition" b
def cycle_decomposition(p: list[int]) -> list[list[list[int]]]:
    n = len(p)
    vis = [0] * n
    cycles = [[] for _ in range(n + 1)]
    for i in range(n):
        if vis[i]:
            continue
        curr = i
        path = []
        while not vis[curr]:
            vis[curr] = 1
            path.append(curr)
            curr = p[curr]
        cycles[len(path)].append(path)
    return cycles
endsnippet

snippet permutations_from_cycles "cycle composition" b
def cycle_composition(res_cycles: list[list[int]], n: int) -> list[int]:
    res = list(range(n))
    for cycle in res_cycles:
        if not cycle:
            continue
        m = len(cycle)
        for i in range(m):
            res[cycle[i]] = cycle[(i + 1) % m]
    return res
endsnippet

# =========================
# Traversal / Tree
# =========================

snippet dfs_with_path "dfs with path" b
stack = [1]
path = []
while stack:
    nd = stack.pop()
    if nd > 0:
        answer_queries(nd)
        path.append(nd)

        for nei in children[nd]:
            stack.append(-nei)
            stack.append(nei)
    else:
        while path.pop() != -nd:
            continue
endsnippet

snippet binary_lifting_kth_ancestor "kth ancestor" b
ancestor = [p]  # ancestor[i][x] contains 2**i-th ancestor of x
for _ in range(1, n.bit_length()):
    prev = ancestor[-1]
    ancestor.append([(-1 if nd == -1 else prev[nd]) for nd in prev])


def kth_ancestor(nd, k):
    if k.bit_length() > len(ancestor):
        return -1
    for i in range(k.bit_length()):
        if k & (1 << i):
            if nd == -1:
                return -1
            nd = ancestor[i][nd]
    return nd
endsnippet

snippet binary_lifting_lca "lca" b
def lca(a: int, b: int, ancestor: list[list[int]], depth: list[int], max_log) -> int:
    if depth[a] < depth[b]:
        a, b = b, a

    diff = depth[a] - depth[b]
    for i in range(max_log):
        if (diff >> i) & 1:
            a = ancestor[i][a]
    if a == b:
        return a

    for i in range(max_log - 1, -1, -1):
        if ancestor[i][a] != ancestor[i][b]:
            a = ancestor[i][a]
            b = ancestor[i][b]
    return ancestor[0][a]
endsnippet

snippet euler_tour "euler tour" b
tour = []
tin = [-1] * (n + 1)
depth = [0] * (n + 1)
stack = [1]
while stack:
    nd = stack.pop()
    if nd > 0:
        tin[nd] = len(tour)
        tour.append((depth[nd], nd))

        for nei in children[nd]:
            stack.append(-nd)
            stack.append(nei)
            depth[nei] = depth[nd] + 1
    else:
        nd = -nd
        tour.append((depth[nd], nd))
endsnippet

snippet hld "heavy-light decomposition" b
order = [1]
parent = [-1] * (n + 1)
depth = [0] * (n + 1)
for u in order:
    for v in g[u]:
        if v == parent[u]:
            continue
        depth[v] = depth[u] + 1
        parent[v] = u
        order.append(v)

size = [1] * (n + 1)
heavy = [0] * (n + 1)
for u in reversed(order):
    mx = 0
    for v in g[u]:
        if v == parent[u]:
            continue
        size[u] += size[v]
        if size[v] > mx:
            heavy[u], mx = v, size[v]

head = [0] * (n + 1)
head[1] = 1
for u in order:
    for v in g[u]:
        if v == parent[u]:
            continue
        if heavy[u] == v:
            head[v] = head[u]
        else:
            head[v] = v
endsnippet

snippet hld_lca "hld lca" b
def hld_lca(a, b, parent, depth, head):
    while head[a] != head[b]:
        if depth[head[a]] > depth[head[b]]:
            a = parent[head[a]]
        else:
            b = parent[head[b]]
    return a if depth[a] < depth[b] else b
endsnippet
